<%- include('header'); -%>

  <section id="content">
    <div class="container">
      <% console.log(nameArray); %>
          <% for (var i=0; i<nameArray.length; i++) { %>
            <div class="row">
            <% 	if(typeof nameArray[i] !== "undefined") {%>
              <div class="card col-md-4">
                <img class="card-img-top" src="/img/<%=nameArray[i]%>">
              </div> <% }; %>
            <% 	if(typeof nameArray[i+1] !== "undefined") {%>
              <div class="card col-md-4">
                <img class="card-img-top" src="img/<%=nameArray[i+1]%>">
              </div> <% }; %>
            <% 	if(typeof nameArray[i+2] !== "undefined") {%>
              <div class="card col-md-4">
                <img class="card-img-top" src="img/<%=nameArray[i+2]%>">
              </div> <% }; %>
              <% i = i + 2 ;%>
            </div>
            <% }; %>
          <h1> Here is the Image </h1>
    </div>
  </section>


<%- include('footer'); -%>
