<%- include('header'); -%>

  <section id="content">
    <div class="container">
          <% for (var i=0; i<nameArray.length; i++) { %>
            <div class="row">
            <% 	if(typeof nameArray[i] !== "undefined") {%>
              <div class="col-md-4"><img src="/img/"<%=nameArray[i]%>></div> <% }; %>
            <% 	if(typeof nameArray[i+1] !== "undefined") {%>
              <div class="col-md-4"><img src="img/"<%=nameArray[i+1]%>></div> <% }; %>
            <% 	if(typeof nameArray[i+2] !== "undefined") {%>
              <div class="col-md-4"><img src="img/"<%=nameArray[i+2]%>></div> <% }; %>
              <% i = i + 2 ;%>
            </div>
            <% }; %>
    </div>
  </section>


<%- include('footer'); -%>
